<h1>categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
      <a href="/catalog/<%= category.id %>">
        <%= category.id %> - <%= category.name %>
      </a>
    </li>
  <% end %>
</ul>