<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
        <%= product.name %> <small>(<%= product.category_id %>)</small>
    </li>
  <% end %>
</ul>

<%= will_paginate @products %>

<br><br>
<a href="/catalog">Categories</a>